<div class="item  col-xs-9 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="img/once.JPG" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                       Entrada de graduandos 2014 con Stephany Gonzales</h4>
                </div>
            </div>
</div>

<div class="item  col-xs-9 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="img/11.JPG" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                       Entrada de graduandos 2014 con Stephany Gonzales</h4>
                </div>
            </div>
</div>